<style>
    .center-content {
        height: 100vh;
    }
</style>

<div class="container d-flex align-items-center justify-content-center center-content">
    <div class="text-center">
        <h2>Obrigado pela mensagem!</h2>
        <p>Agradecemos pelo contato e responderemos assim que possível.</p>
    </div>
</div>